.container {
    padding: 0px !important;
    .footer {

    position: unset;
    width: 100%;
    background-color: #212529   ;
    color: white;
    text-align: center;
    height: 40px;

.footer-copyright {
    font-family: HNBOLD;
    font-size: 20px;
}
    }
}
.headFooter {
    float: left;
    width: 100%
}